html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    height: 100%;
    padding: 30px;
}

h1 {
    text-align: center;
}

.btn {
    font-size: large;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    min-width: 100px;
    width: 100%;

    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 300ms;
}

.btn-orange {
    color: white;
    background-color: orange;
}

.btn-orange:hover {
    background-color: grey;
}

.btn-orange:disabled {
    opacity: 0.5;
    background-color: grey;
    cursor: not-allowed;
}

.input {
    box-sizing: border-box;
    font-size: large;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 1px solid rgb(56, 56, 56);
}