main {
    display: flex;
    flex-direction: column;
}

.input {
    box-sizing: border-box;
    font-size: large;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 1px solid rgb(56, 56, 56);
}