<!doctype HTML>
<html>
  <head>
    <title>
      GOGO Anime
    </title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <main>
      <div class="iframe_container">
      </div>
      <button onclick='prev_link()' class="btn-nav">PREVIOUS</button>
      <button onclick='next_link()' class="btn-nav">NEXT</button>

      <div id="ep_container">
        <button class="btn-ep">
          1
        </button>
      </div>
    </main>
    <script src="/static/main.js"></script>
  </body>
</html>
