.btn-nav {
    font-size: large;
    padding: 10px;
    color: white;
    background-color: grey;
    outline: none;
    border: 3px solid #8c2e00;
    transition-duration: 300ms;
}

.btn-nav:hover {
    cursor: pointer;
    border-color: orange;
}

.btn-ep {
    width: 100px;
    margin-right: 5px;
    font-size: medium;
}

#links_container {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 3px solid orange;
}

#download_frame {
    width: 100%;
    height: 50vh;
    border: 1px solid grey;
    border-radius: 1px;
}

#anime_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    #links_container {
        padding: 0;
        padding-bottom: 5px;
    }
    .btn-ep {
        width: fit-content;
        font-size: small;
    }
    .btn-nav {
        font-size: small;
    }
}

