html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.nav-btn {
    padding: 10px;
    color: white;
    background-color: blueviolet;
    text-align: center;
    text-decoration: none;
    width: 48%;
    transition-duration: 300ms;
    border: 2px solid rgb(144, 206, 0);
}
.nav-btn:hover {
    background-color: rgb(102, 20, 179);
}

main {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.btn {
    box-sizing: border-box;
    font-size: large;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    min-width: 100px;
    width: 100%;

    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 300ms;
}

.btn-orange {
    color: white;
    background-color: rgb(148, 109, 36);
}

.btn-orange:hover {
    background-color: grey;
}

.btn-orange:disabled {
    opacity: 0.5;
    background-color: grey;
    cursor: not-allowed;
}

.input {
    box-sizing: border-box;
    font-size: large;
    padding: 10px;
    outline: none;
    width: 100%;
    border: 1px solid rgb(56, 56, 56);
}

#anime_list {
    display: flex;
    flex-direction: column;
}
