<!-- 
    CREATED BY SHAIL MURTAZA
    https://github.com/ShailMurtaza
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime List</title>
        <link rel="shortcut icon" href="/static/img/favicon.webp" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/scrap.css">
        <link rel="stylesheet" href="/static/css/ep_list.css">
    </head>
    <body>
        <script src="/static/js/mithril.min.js"></script>
        <script src="/static/js/AnimeList.js"></script>
        <script src="/static/js/Scrap.js"></script>
        <script src="/static/js/EpList.js"></script>
        <script src="/static/js/App.js"></script>
    </body>
</html>
