<!-- 
    CREATED BY SHAIL MURTAZA
    https://github.com/ShailMurtaza
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/main.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <a class="nav-btn" href="/">ANIME LIST</a>
        <a class="nav-btn" href="/scrap">SCRAPING</a>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>